{% extends 'Home/base.html' %}

{% load static %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">My Profile</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'student_dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">My Profile</li>
                    </ul>
<h1>Student Profile</h1>

<h3>Student Information</h3>

<p><b>First Name:</b> {{ student.user.first_name }}</p>
<p><b>Last Name:</b> {{ student.user.last_name }}</p>
<p><b>Email:</b> {{ student.user.email }}</p>
<p><b>Student ID:</b> {{ student.student_id }}</p>

{% if student.student_image %}
<img src="{{ student.student_image.url }}" width="120">
{% endif %}

<hr>

<h3>Parent Information</h3>

<p><b>Father Name:</b> {{ student.parent.father_name }}</p>
<p><b>Mother Name:</b> {{ student.parent.mother_name }}</p>
<p><b>Father Phone:</b> {{ student.parent.father_mobile }}</p>
<p><b>Mother Phone:</b> {{ student.parent.mother_mobile }}</p>

</div>
{% endblock %}