{% extends 'Home/base.html' %}
{% block body %}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Exams</h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr><th>Name</th><th>Subject</th><th>Date</th></tr>
          </thead>
          <tbody>
            {% for e in exams %}
            <tr>
              <td>{{ e.name }}</td>
              <td>{{ e.subject.name }}</td>
              <td>{{ e.date }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="3">No exams</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
